{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="bg-black">
        <h1 class=" mb-3 font-weight-normal">Welcome back !</h1>

        <input class="field" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="email" required autofocus>
        <input class="field" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    
        <button class="btn-connect " type="submit">
            Log in !
        </button>
    </div>
    
    <p>First time here ? <a href="{{path('app_register')}}">Sign up !</a> </p>
    <p>Forgot your password ? <a href="{{path('app_forgot_password_request')}}">let's change it !</a></p>
</form>
{% endblock %}
