{% extends 'base.html.twig' %}

{% block title %}Welcome, {{ user.username }}!{% endblock %}

{% block body %}

    <h1 class="text-center text-2xl font-bold mb-8">Welcome <br>{{ user.username }} !</h1>
    {# <p class="">Your score: <strong>{{ user.score }}</strong></p> #}

    <div class=" mb-8">
        <a href="{{ path('app_home_newSession') }}" class="px-4 py-2 rounded-2xl bg-quinary ">
            Schedule your training sessions
        </a>
    </div>

    {% if sessions|length > 0 %}
        <p>your next sessions : </p>
        {% for session in sessions|sort((a, b) => a.dateSession <=> b.dateSession)|slice(0, 5) %}
            <a class="p-8 m-1 bg-primary rounded-lg" href="{{ path('app_training_edit', {'id': session.program.id}) }}">{{session}}</a>
            {# <a href="{{ path('app_home_deleteSession', {'id': session.id}) }}">delete</a> #}
        {% endfor %}
{% endif %}


    {# {% if programs|length > 0 %}
        <div class="">
            <h2 class="">Your Programs</h2>
            <div class="">
                {% for program in programs %}
                    <div class="">
                        <div>
                            <span class="">{{ program }}</span>
                        </div>
                        <div class="space-x-2">
                            <a href="{{ path('app_training_edit', {'id': program.id}) }}" class="text-blue-500 hover:underline">Edit</a>
                            <a href="{{ path('app_training_delete', {'id': program.id}) }}" class="text-red-500 hover:underline">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="">It seems that you don't have any workout planned, 
            <a href="{{ path('app_training_new') }}" class="">let's change that!</a>
        </p>
    {% endif %} #}


{% endblock %}
