{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

miaou

{{ form_start(formAddSession) }}
{# {{ form_row(formAddWorkout.exercice) }}
{{ form_row(formAddWorkout.numberOfRepetitions) }}
{{ form_row(formAddWorkout.weightsUsed) }} #}
{# <button type="submit">Add Workout Plan</button> #}
{{ form_end(formAddSession) }}

{% endblock %}
