{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}
    
    {{ form_start(registrationForm) }}
    
    <h1 class="text-xl text-center p-4">Let's create your account!</h1>

    {{app.flashes('error') | last}}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    <p>Your passorwd should include :</p>
    <ul>
        <li>At least 12 characters</li>
        <li>At least one upper case character</li>
        <li>At least one number</li>
        <li>At least one special character</li>
    </ul>
    {{ form_row(registrationForm.plainPassword) }}
    {# {{ form_row(registrationForm.captcha)}} #}
    {{ form_row(registrationForm.agreeTerms) }}
    
    
    <div class="flex justify-center">
        <button type="submit" class="w-3/5 px-4 py-2 mb-8 bg-blue-600 dark:text-white light:text-black rounded-lg">Register</button>
    </div>
    
    {{ form_end(registrationForm) }}
{% endblock %}
