{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}

{% if ressource %}  

<a href="{{path ('app_ressource_edit', {'id' : ressource.id} )}}">edit ressource</a>
<a href="{{path ('app_ressource_delete', {'id' : ressource.id} )}}">delete ressource</a>

    {{ ressource.title }} <br>
    {{ ressource.content }} <br>
    {{ ressource.link }} <br>
    {# {{ ressource.createdAt|date('Y-m-d') }}
    {{ ressource.updatedAt|date('Y-m-d') #}
{% endif %}

{% endblock %}
