{% extends 'base.html.twig' %}

{% block title %}Détails de la Ressource{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}   
    <div class="flex justify-end mb-4">
        <a class="px-4 py-2 dark:bg-tertiary text-white rounded-lg hover:bg-yellow-600 duration-150" href="{{path ('app_ressource_edit', {'id' : ressource.id} )}}">Modify ressource</a>




        <a class="px-4 py-2 dark:bg-tertiary text-white rounded-lg hover:scale-105 hover:bg-red-600 duration-150 ml-2" href="{{path ('app_ressource_delete', {'id' : ressource.id} )}}">Delete ressource</a>





    </div>
{% endif %}

{% if ressource %}
    <div class="dark:bg-secondary/60 rounded-lg p-8 backdrop-blur-md drop-shadow-xl w-10/12">
        <h1 class="text-2xl font-bold mb-4">{{ ressource.title }}</h1>
        <p class="mb-6">{{ ressource.content | raw  }}</p>
        {% if ressource.link %}
            <a class="text-blue-500 hover:underline" href="{{ ressource.link }}" target="_blank">Show source</a>
        {% endif %}
    </div>
{% else %}
    <p>Ressource non trouvée</p>
{% endif %}   

{% endblock %}
