{% extends 'base.html.twig' %}

{% block title %}Hello RessourceController!{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}   
{% endif %}

{# <div class="p-4 bg-quinary"></div>
<div class="p-4 bg-quaternary"></div>
<div class="p-4 bg-senary"></div> #}
{% if tags %}
<div class="w-5/6">
    <ul class="flex flex-row justify-center my-8">
            {% for tag in tags %}
                <li class="hover:scale-105 duration-150"><a class="no-underline px-4 py-2 mx-2 rounded-2xl bg-{{tag.tagColor}} text-{{tag.tagTextColor}} drop-shadow-xl hover:scale-105 duration-150" href="{{path ('app_ressource_detailsTag', {'id' : tag.id})}}">{{tag}}</a></li>
            {% endfor %}
        </ul>

        {% if ressources %}
        <div class="bg-secondary/60 rounded-lg p-8 backdrop-blur-md drop-shadow-xl">

            <div class="w-full flex justify-end">
                


            {% if is_granted('ROLE_ADMIN') %}
                <a class="mb-8 px-4 py-2 rounded-2xl w-fit bg-secondary drop-shadow-xl hover:bg-tertiary duration-150" href="{{ path('app_ressource_new') }}">Create new</a>
            {% endif %}            
            </div>

            <ul>
                {% for ressource in ressources %}
                    <li>
                        <div class="bg-primary/70 rounded-lg py-4 px-6 mb-4 hover:scale-105 hover:outline hover:outline-{{ressource.tag.tagColor}} duration-150 drop-shadow-xl">
                            <div class="bg-{{ressource.tag.tagColor}} rounded-full p-2 w-2 mb-2"></div>
                            <a class="text-lg font-medium" href="{{path ('app_ressource_detailsRessource', {'id' : ressource.id})}}">{{ressource}}</a>
                            <a class="line-clamp-3 mt-6" href="{{path ('app_ressource_detailsRessource', {'id' : ressource.id})}}">{{ressource.content}}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %} 
            <p>No ressources found</p>
        </div>
        {% endif %}
    </div>
{% endif %}


{% endblock %}
