{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

    <h1>Details of the muscle group</h1>
    <h2>{{ muscleGroup}}</h2>

    <p>Muscles</p>

    <ul>
        {% for muscle in muscles %}
            <li> <a href="{{path ('app_muscle_details', {'id' : muscle.id } )}}">{{ muscle }}</a> </li>
        {% endfor %}
    </ul>



    <p>Exercices:</p>
    <ul>
        {% for exercice in exercices %}
            <li>{{ exercice.exerciceName }}</li>
        {% endfor %}
    </ul>
    
    <a href="{{ path('app_muscle') }}">Back to index</a>
{% endblock %}


