{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

<div class="flex w-full my-auto max-lg:flex-col max-lg:items-center dark:text-white light:text-black">

    <div class="container mx-auto  mt-24 px-4 ">
        <div class="dark:dark:bg-primary/60 light:bg-primary_light/60  p-1 rounded-lg w-full max-w-screen-md flex flex-col mx-auto backdrop-blur-md">
        <h1 class="text-4xl font-bold mb-8 p-4 text-center">Details of the {{ muscleGroup}} muscle group</h1>
    
            <div class="dark:dark:bg-primary/60  light:bg-primary_light/60 p-4 shadow-lg rounded-lg w-5/6 max-w-screen-md flex flex-col mx-auto">
                <p class="font-semibold text-lg mb-2">Muscles composing the group</p>
            
                <ul class="list-disc pl-5 mb-1">
                    {% for muscle in muscles %}
                        <li class="mb-1">
                            <a href="{{path ('app_muscle_details', {'id' : muscle.id } )}}" class="light:bg-quaternary px-1 dark:text-quaternary font-semibold light:text-black  hover:underline">{{ muscle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dark:dark:bg-primary/60 light:bg-primary_light/60 p-4 shadow-lg rounded-lg w-5/6 max-w-screen-md flex flex-col my-10 mx-auto">
                <p class="font-semibold text-lg mb-2">Exercises :</p>
                <ul class="list-disc pl-5 mb-4">
                    {% for exercice in exercices %}
                        <li class="mb-1">
                            <a href="{{path ('app_exercice_details', {'id': exercice.id} )}}" class="light:bg-quaternary px-1 dark:text-quaternary font-semibold light:text-black  hover:underline">{{ exercice}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path('app_muscle') }}" class="mx-auto font-semibold  dark:text-white light:text-black hover:underline duration-150"><i class="fa-solid fa-arrow-left"></i>  Back to index</a>
        </div>

    </div>

    <div class=" mx-auto flex flex-col justify-center items-center w-full mt-24">
        <div class="flex justify-center w-10/12 flex-wrap">
            {% if muscleGroup.muscleGroupSvgBack %}
            <img class="rounded-bl-lg max-sm:rounded-none w-2/3 max-lg:w-1/2 mb-8" src="{{ asset('svgs/' ~ muscleGroup.muscleGroupSvgFront ) }}" alt="{{ muscleGroup.muscleGroupSvgFront()}}">
            <img class="rounded-bl-lg max-sm:rounded-none w-2/3 max-lg:w-1/2 mb-8" src="{{ asset('svgs/' ~ muscleGroup.muscleGroupSvgBack ) }}" alt="{{ muscleGroup.muscleGroupSvgBack()}}"> 
            {% else %}
            <img class="rounded-bl-lg max-sm:rounded-none w-11/12 mb-8 max-lg:w-10/12" src="{{ asset('svgs/' ~ muscleGroup.muscleGroupSvgFront ) }}" alt="{{ muscleGroup.muscleGroupSvgFront()}}">
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}


