{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}
<div class="container bg-primary/60 p-8 rounded-lg w-full max-w-screen-md flex flex-col mx-auto backdrop-blur-md">
    <h1 class="text-4xl font-bold mb-4">Muscle details 
        <a class="text-tertiary hover:font-medium hover:text-yellow-300 duration-150 text-xl hover:text-2xl" href="{{path ('app_muscle_edit', {'id': muscle.id} )}}"><i class="fa-solid fa-pen-to-square"></i></a> 
                <a class="text-tertiary hover:font-medium hover:text-red-600 duration-150 text-xl hover:text-2xl"  href="{{path ('app_muscle_delete', {'id': muscle.id})}}"><i class="fa-solid fa-trash-can"></i></a>
    </h1>

    <p class="text-lg mb-2">Name: <span class="font-medium">{{ muscle}}</span></p>
    <p class="text-lg mb-2">Function: <span class="font-medium">{{muscle.muscleFunction}}</span></p>

    <a href="{{ path('app_muscleGroup_details', {'id' : muscleGroup.id}) }}" class="mx-auto text-white hover:underline duration-150"><i class="fa-solid fa-arrow-left"></i>  Back to muscle group</a>
</div>
{% endblock %}