{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}

    <h1>ExerciceController index</h1>

    <ul>
        {% for exercice in exercices %}
            <li> 
                <a href="{{path ('app_exercice_edit', {'id': exercice.id} )}}">{{ exercice}}</a> 
                {# <a href="{{path ('app_exercice_details')}}">details</a> #}
                <a href="{{path ('app_exercice_delete', {'id': exercice.id})}}">delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_exercice_new') }}">Create new</a>
{% endblock %}
