{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Now compose your own workout session !</h1>

        <h2>Plan your workout !</h2>
        {{ form_start(formAddWorkout) }}
        {# {{ form_row(formAddWorkout.exercice) }}
        {{ form_row(formAddWorkout.numberOfRepetitions) }}
        {{ form_row(formAddWorkout.weightsUsed) }} #}
        {# <button type="submit">Add Workout Plan</button> #}
        {{ form_end(formAddWorkout) }}

    {% else %}
    
        <h1>First choose what you wanna work !</h1>

        <h2>Add a Program</h2>

        {{ form_start(formAddProgram) }}
        {# {{ form_row(formAddProgram.title) }}
        {{ form_row(formAddProgram.muscleGroupTargeted) }} #}
        {{ form_end(formAddProgram) }}
    {% endif %}

{% endblock %}
