{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if programs| length > 0 %}

        <a class="px-4 py-2 rounded-2xl dark:bg-tertiary light:bg-tertiary_light drop-shadow-xl hover:dark:bg-quinary hover:light:bg-quinary duration-150 mt-10" href="{{ path('app_training_new')}}">NEW PROGRAM </a> <br><br>
        {% for program in programs %}

        <div class="rounded-xl m-5 max-w-3xl max-h-3/5 drop-shadow-xl relative hover:ease-out hover:scale-105 duration-200 ">
            <div class="absolute h-full w-full bg-gradient-to-t from-black rounded-xl hover:ease-out hover:bg-black/50 duration-200"></div>
            <a class="text-lg absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-semibold" href="{{ path('app_training_edit', {'id': program.id}) }}">{{program}}</a>
            <div class="flex items-center">
                <a class="h-auto w-1/2 object-cover"  href="{{ path('app_muscleGroup_details', {'id': program.muscleGroupTargeted.id })}}">
                    <img class="rounded-l-xl" src="{{ asset('img/muscleGroups/' ~ program.muscleGroupTargeted.muscleGroupImage ) }}" alt="{{program.muscleGroupTargeted()}}">
                </a>
                <a class="h-auto w-1/2 object-cover"  href="{{ path('app_muscleGroup_details', {'id': program.secondaryMuscleGroupTargeted.id })}}">
                    <img class="rounded-r-xl" src="{{ asset('img/muscleGroups/' ~ program.secondaryMuscleGroupTargeted.muscleGroupImage ) }}" alt="{{program.secondaryMuscleGroupTargeted}}">
                </a>
            </div>
        </div>

        {# <a href="{{ path('app_training_edit', {'id': program.id}) }}">{{ program }}</a> 
        <a href="{{ path('app_training_delete', {'id': program.id}) }}">delete</a> <br>   #}
        {% endfor %}

    {% else %}
        <p>it seems that you don't have any Workout planned. <br><a href="{{ path ('app_training_new')}}">let's change that !</a></p>
    {% endif %}

{% endblock %}
