{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {{user}} <br><br>

    {% if programs| length > 0 %}

    <a href="{{ path('app_training_new')}}">NEW PROGRAM </a> <br> <br>

        {% for program in programs %}
        <a href="{{ path('app_training_edit', {'id': program.id}) }}">{{ program }}</a> 
        <a href="{{ path('app_training_delete', {'id': program.id}) }}">delete</a> <br>  
        {% endfor %}

    {% else %}

        <p>it seems that you don't have any Workout planned, <a href="{{ path ('app_training_new')}}">let's change that !</a></p>

    {% endif %}



{% endblock %}
