{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

    {% if edit %}
        {# {% for exo in exercice %}
        {{exo.exerciceName}} <br>
        {% endfor %} #}
        <h1>Now compose your own workout session !</h1>

        {{program}}<br><br>
        {{program.muscleGroupTargeted}}<br>
        {{program.secondaryMuscleGroupTargeted}}<br><br>


        <br><br>
        {% for workout in workoutPlans %}
            {{workout}} <a href="{{ path('removeWP_Program', {'program' : program.id, 'workoutPlan' : workout.id}) }}">delete</a> <br>
        {% endfor %}

        {% set lastWarningMessage = app.flashes('warning') | last %}

        {% if lastWarningMessage is not empty %}
            <div class="alert alert-warning">
                {{ lastWarningMessage }}
            </div>
        {% endif %}
    
        <h2>Plan your workout !</h2>

        {{ form_start(formAddWorkout) }}
        {{ form_end(formAddWorkout) }}

    {% else %}
        <div class="bg-primary p-8 rounded-lg w-5/6">
            <h1 class="text-center font-bold text-2xl px-2 py-4 mb-14">First choose what you wanna work !</h1>

            {{ form_start(formAddProgram) }}
            {{ form_row(formAddProgram.title)}}
            <div class="flex flex-row">
                {{ form_row(formAddProgram.muscleGroupTargeted) }}
                {{ form_row(formAddProgram.secondaryMuscleGroupTargeted) }}
            </div>
            {{ form_end(formAddProgram) }}
        </div>
    {% endif %}

{% endblock %}
