{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Now compose your own workout session !</h1>
    {{program}} <br><br>
    {{program.muscleGroupTargeted}} <br>
    {{program.secondaryMuscleGroupTargeted}}
    <br>
    <br>
    {# {{workoutScore}} #}
    <br><br>
    {% for workout in workoutPlans %}
        {{workout}} <a href="{{ path('removeWP_Program', {'program' : program.id, 'workoutPlan' : workout.id}) }}">delete</a> <br>
    {% endfor %}
        <h2>Plan your workout !</h2>
        {{ form_start(formAddWorkout) }}
        {{ form_end(formAddWorkout) }}

    {% else %}
    
        <h1>First choose what you wanna work !</h1>
        <h2>Add a Program</h2>

        {{ form_start(formAddProgram) }}
        {{ form_end(formAddProgram) }}
    {% endif %}

{% endblock %}
