{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    
        {{user}} <br>
        {{user.email}} <br>
        {{user.score}} <br> <br>

        {% if latestTracking %}
        <p>See some change? keep track  <a href="{{ path ('app_user_newTrack')}}">here</a> !</p>
        <div>
            <h2>
                {{latestTracking.age}} <br>
                {# {{latestTracking.sex}} <br> #}
                {{latestTracking.height}} <br>
                {{latestTracking.weight}} 
                <a href="{{ path ('app_user_deleteTrack', {'id': latestTracking.id}) }}"><i class="fa-solid fa-trash"></i></a>
            </h2>
        
        </div>
        {% else %}
        <p>Wanna track your progress? add your trackings <a href="{{ path ('app_user_newTrack')}}"> here</a> !</p>
        {% endif %}

        
        
        {% if user.performances %}
            Made progress? write everything down <a href="{{ path ('app_user_newPerf')}}"> here</a> ! <br><br>
            {% for performance in user.performances %}
                {{performance}} <a href="{{ path ('app_user_deletePerf', {'id': performance.id}) }}"><i class="fa-solid fa-trash"></i></a> <br>
            {% endfor %}
        {% else %}
            Wanna track your progress? add your performances <a href="#"> here</a> !
        {% endif %} <br><br>

        {% if user.programs %} 
            {% for program in user.programs %}
                <a href="{{ path('app_training_edit', {'id': program.id}) }}">{{ program }}</a> <br>
            {% endfor %}
        {% endif %} <br><br>

        {% if user.sessions %}
            {% for session in user.sessions %}
                {{session}} <br>
            {% endfor %}
        {% endif %}

        
        




{% endblock %}
