{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{# <a href="{{path ('app_user_updateUsername', {'id': user.id}) }}">update username</a> 
<a href="{{path ('app_register_updateEmail', {'id': user.id}) }}">update email</a> 
<a href="{{path ('app_register_updatePassword', {'id': user.id}) }}">update password</a> <br>
<a href="{{path ('app_user_delete', {'id': user.id}) }}">delete account</a> <br> #}


    
        {# {{user}} <br>
        {{user.email}} <br>
        {{user.score}} <br> <br>
        {{equiv}} <br><br> #}

    

        
        
        {# {% if user.performances %}
            <p> Made progress? write everything down <a href="{{ path ('app_user_newPerf')}}"> here</a> ! </p><br><br>
            {% for performance in user.performances %}
                <p>{{performance}} <a href="{{ path ('app_user_editPerf', {'id': performance.id}) }}">edit</a> <a href="{{ path ('app_user_deletePerf', {'id': performance.id}) }}">delete</a></p> <br>
            {% endfor %}
        {% else %}
            <p> Wanna track your progress? add your performances <a href="#"> here</a> !</p>
        {% endif %} <br><br> #}

        {# {% if user.programs %} 
            {% for program in user.programs %}
                <a href="{{ path('app_training_edit', {'id': program.id}) }}">{{ program }}</a> 
            {% endfor %}
        {% endif %}  #}

        {# {% if user.sessions %}
            {% for session in user.sessions %}
                {{session}} <br>
            {% endfor %}
        {% endif %} #}



        <div class="w-10/12 flex flex-row justify-between mt-14 items-center">
            <span class="text-3xl font-semibold">{{user}}</span>
            <div class="flex flex-col justify-center">
                <button id="activityButton" class="font-medium text-lg">Your activity</button>
                                    <hr class="w-full my-2">
                <button id="progressButton" class="font-medium text-lg">Your progress</button>
            </div>
        </div>
        
        <div id="ACTIVITY" class="w-10/12">
            <div class="w-full flex flex-col">
                <p class="text-xl font-medium">Your activity</p>
                <div class="mt-4">
                    <p class="text-lg">
                        {{user.email}} <br>
                        {{user.score}} <br>
                        {{equiv}} <br>
                    </p>
                </div>
            </div>

            <div class="overflow-x-auto w-auto flex justify-center">
                <div class="grid grid-cols-7 gap-1 transform -rotate-90 h-28 w-fit">
                    {% for date, count in activity %}
                        <div class="w-[10px] h-[10px] rounded-[2px] {{ count > 0 ? 'bg-quinary' : 'bg-gray-800' }}"></div>
                    {% endfor %}
                </div>
            </div>

 
        </div>
        
        <div id="PROGRESS" class="w-10/12">
            <div class="flex flex-row justify-between mt-14 items-center">
                <div class="w-1/3 flex flex-col">
                    {% if latestTracking %}
                    <p class="text-xl font-medium">See some change? keep track here !</p>
                    <div class="mt-4">
                        <p class="text-lg">
                            {{latestTracking.age}} years old <br>
                            {{latestTracking.sex}} <br>
                            {{latestTracking.height}}cm <br>
                            {{latestTracking.weight}}kg <br>
                            <div class="w-full flex items-center justify-around mt-4 max-md:flex-col">
                                <a class="w-fit mx-2 text-center no-underline px-5 py-3 rounded bg-tertiary drop-shadow-xl hover:bg-quinary duration-150 max-md:w-full max-md:mt-2" href="{{ path ('app_user_newTrack')}}"><i class="fa-solid fa-plus"></i></a>
                                <a class="w-fit mx-2 text-center no-underline border-2 border-quaternary border-offset-2 text-quaternary hover:bg-quaternary hover:text-black  duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_editTrack', {'id': latestTracking.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="w-fit mx-2 text-center no-underline border-2 border-red-500 border-offset-2 text-red-500 hover:bg-red-500 hover:text-white  duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_deleteTrack', {'id': latestTracking.id}) }}"><i class="fa-solid fa-minus"></i></a>
                            </div>
                        </p>
                    </div>
                    {% else %}
                    <p>Wanna track your progress? add your trackings <a href="{{ path ('app_user_newTrack')}}"> here</a>!</p>
                    {% endif %}
                </div>
                <div>
                    {# CHART OF SHAPE VISUALIZATION GOES HERE #}
                </div>
            </div>
            <div class="flex flex-row justify-between mt-14 items-center">
                <p class="text-lg font-medium">Track your progress here!</p>
                <div class="mt-4">
                    {# CHART OF PERFORMANCE VISUALIZATION GOES HERE #}
                </div>
            </div>
        </div>
        
        




{% endblock %}
