{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    
        {{user}} <br>
        {{user.email}} <br>
        {{user.score}} <br> <br>


        <p>See some change? keep track  <a href="{{ path ('app_user_newTrack')}}">here</a> !</p>
        <div>
            <h2>
                {{latestTracking.age}} <br>
                {{latestTracking.sex}} <br>
                {{latestTracking.height}} <br>
                {{latestTracking.weight}} <br><br>
            </h2>
        </div>



        {% if user.trackings %}
        {# Made progress? write everything down <a href="{{ path ('app_user_newPerf')}}"> here</a> ! <br><br> #}
        {% for tracking in  user.trackings %}
        <div>
            <h3>Tracking date : {{tracking.dateOfTracking}}</h3>
            {{tracking.age}} <br>
            {{tracking.sex}} <br>
            {{tracking.height}} <br>
            {{tracking.weight}} <br>
        </div>
        {% endfor %}
        {% else %}
        {# Wanna track your progress? add your trackings <a href="#"> here</a> ! #}
        {% endif %} <br><br>
        
        {% if user.performances %}
        Made progress? write everything down <a href="{{ path ('app_user_newPerf')}}"> here</a> ! <br><br>
        {% for performance in user.performances %}
        {{performance}} <br>
        {% endfor %}
        {% else %}
        Wanna track your progress? add your performances <a href="#"> here</a> !
        {% endif %} <br><br>

        {% if user.programs %} 
        {% for program in user.programs %}
        <a href="{{ path('app_training_edit', {'id': program.id}) }}">{{ program }}</a> <br>
        {% endfor %}
        {% endif %} <br><br>

        {% if user.sessions %}
        {% for session in user.sessions %}
            {{session}} <br>
        {% endfor %}
        {% endif %}

        
        




{% endblock %}
