{% extends 'base.html.twig' %}

{% block title %}MuscleMind{% endblock %}

{% block body %}
    <div class="container mx-auto px- dark:text-white light:text-black">
        <h2 class="text-2xl font-bold my-4">Trackings</h2>
        <table class="min-w-full dark:bg-secondary/40 light:bg-secondary_light/40 backdrop-blur-md border dark:border-primary light:border-primary_light rounded-lg shadow-lg">
            <thead>
                <tr class="">
                    <th class="px-4 py-2 text-start">Weight</th>
                    <th class="px-4 py-2 text-start">Date</th>
                    <th class="px-4 py-2 text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tracking in trackings %}
                    <tr class=" even:dark:bg-tertiary/40 even:light:bg-tertiary_light/40 backdrop-blur-md odd:dark:bg-secondary/40 odd:light:bg-secondary_light/40">
                        <td class="px-4 py-2  text-start">{{ tracking.weight }}kg</td>
                        <td class="px-4 py-2  text-start">{{ tracking.dateOfTracking}}</td>
                        <td class="px-4 py-2 text-end">
                            <a class="w-fit text-center no-underline  dark:border-quaternary   light:hover:shadow-lg  light:text-black dark:text-quaternary hover:bg-quaternary hover:text-black duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_editTrack', {'id': tracking.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="w-fit text-center no-underline  text-red-500 hover:bg-red-500 hover:dark:text-white light:text-black  duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_deleteTrack', {'id': tracking.id}) }}"><i class="fa-solid fa-minus"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-2xl font-bold my-4">Performances</h2>
        <table class="min-w-full dark:bg-secondary/40 light:bg-secondary_light/40 backdrop-blur-md border dark:border-primary light:border-primary_light rounded-lg shadow-lg">
            <thead>
                <tr class="">
                    <th class="px-4 py-2  text-start">Exercice</th>
                    <th class="px-4 py-2  text-start">Weight</th>
                    <th class="px-4 py-2  text-start">Date</th>
                    <th class="px-4 py-2 text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for perf in performances %}
                    <tr class="even:dark:bg-tertiary/40 even:light:bg-tertiary_light/40 backdrop-blur-md odd:dark:bg-secondary/40 odd:light:bg-secondary_light/40 ">
                        <td class="px-4 py-2  text-start">{{ perf.exerciceMesured }}</td>
                        <td class="px-4 py-2  text-start">{{ perf.personnalRecord }}</td>
                        <td class="px-4 py-2  text-start">{{ perf.dateOfPerformance }}</td>
                        <td class="px-4 py-2 text-end">
                            <a class="w-fit text-center no-underline dark:border-quaternary   light:hover:shadow-lg  light:text-black dark:text-quaternary hover:bg-quaternary hover:text-black duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_editPerf', {'id': perf.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="w-fit text-center no-underline  text-red-500 hover:bg-red-500 hover:dark:text-white light:text-black  duration-150 ease-in-out px-4 py-2 rounded max-md:w-full max-md:mt-2" href="{{ path ('app_user_deletePerf', {'id': perf.id}) }}"><i class="fa-solid fa-minus"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
